@use './variables' as *;


.faqs .container {
	width: 100%;
	max-width: 88rem;
}

.accordion{
  padding-block: 2rem;
	border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.accordion .title {
	padding: 10px 10px 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background: transparent;
}

.accordion .title h3 {
  font: $pre-title;
	color: $light-100;
}

.accordion .title .icon {
	width: 32px;
	height: 32px;
	border: 2px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.accordion .title .icon i {
	color: $light-100;
	max-width: 14px;
	display: block;
	object-fit: cover;
	transition: all .3s ease-in-out;
}

.accordion.active .title .icon i {
	transform: rotate(180deg);
}

.accordion p {
	display: none;
  font-family: $font-Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  color: $grey-400;
	padding: 1.6rem;
	animation: fadeIn .3s forwards;
}

.accordion.active p {
	display: block;
}

@media screen and (max-width: 1024px) {
	.faqs .title-section{
		text-align: center;
	}
}